.navbar{
    background-color:rgb(0, 0, 0);
    /* box-sizing:border-box; */
    max-height: 70px;
    /* border: 2px solid rgb(116, 114, 114); */
    border-radius: 5px;
}
.icon{
    display: none;
}
.Mobile_Menu{
    display: none;
}
.navbarItems{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.text{
    font-size:x-large;
    font-weight: 400;
    margin: 17px;
    color: rgb(252, 252, 252);
}

.navbarLeft{
     color: white;
}

.textItem{
font-size: medium;
margin: 25px 8px;
color: rgb(255, 255, 255);
cursor: pointer;
/* background-color: aliceblue; */

}

.textItem:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(105, 191, 244);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 3px;  
    transition: 0.5s;
}

.navbarRight{
    display: flex;
   color: white;
   font-family: sans-serif;
}

.Links{
color:white;
text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .navbar{
        background-color:rgb(0, 0, 0);
        max-height: 70px;
        border-radius: 5px;
    }
    .icon{
        display:block;
        color: white;
        font-size: 25px;
        margin-top: 15px;
        cursor: pointer;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .Mobile_Menu{
        display: block;
        color: rgb(1, 1, 1);
        list-style: none;
        background-color: rgb(105, 191, 244);
        width: 60px;
        border-radius: 10px;
        border: 2px solid black;
        font-weight: 400;
        padding: 15px;
        margin-top: 0px;
    }
    /* .navbarItems{
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
    }
    .text{
        font-size:x-large;
        font-weight: 400;
        margin: 17px;
        color: rgb(252, 252, 252);
    }
    
    .navbarLeft{
         color: white;
    }
    
    .textItem{
    font-size: medium;
    margin: 25px 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* background-color: aliceblue; */
    
    /* } */
    
    .textItem:hover{
        color: rgb(0, 0, 0);
        background-color: rgb(105, 191, 244);
        padding: 15px;
        border-radius: 10px;
        margin: 10px 3px;  
        transition: 0.5s;
    }
    
    .navbarRight{
        display: none;
       color: white;
       font-family: sans-serif;
    } */
    
    .Links{
    color:white;
    text-decoration: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

